

<%- include ("./particals/Headers") %>
<div class="error-body">

    <div class="error-wrapper">
        <h1 class="error-code">404</h1>
        <% if (locals.error) { %>
          <p class="error-message"><%= error %></p>
        <% } %>
        <a href="/" class="error-home-btn">Go Home</a>
    </div>
  </div>

    <%- include ("./particals/Footer") %>
</body>
</html>
