<%- include ("./particals/Headers") %>
    <div class="error-container">
        <h1>404</h1>
        <p>Oops! The page you are looking for doesn't exist.</p>
        <a href="index.html" class="home-btn">Go Home</a>
    </div>
  <!-- Footer -->
  <%- include ("./particals/Footer") %>
</body>
</html>
