<%- include ("./particals/Headers") %>
    <div class="form-container">
        <h1>Login</h1>
        <form>
            <input type="email" class="input-field" placeholder="Email" required>
           <!-- Password input with toggle visibility -->
                <div class="password-container">
                    <input type="password" class="input-field" placeholder="Password" required id="password">
                    <i class="fas fa-eye" id="toggle-password"></i>
                </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p class="switch-link"><a href="forgot-password.html">Forgot Password?</a></p>
        <p class="switch-link">Don't have an account? <a href="/register">Register</a></p>
    </div>
 <!-- Footer -->
  <%- include ("./particals/Footer") %>
  
<!-- JavaScript to toggle password visibility -->
<script>
    const togglePassword = document.getElementById('toggle-password');
    const passwordField = document.getElementById('password');

    togglePassword.addEventListener('click', function() {
        const type = passwordField.type === 'password' ? 'text' : 'password';
        passwordField.type = type;

        this.classList.toggle('fa-eye-slash');
    });
</script>
</body>
</html>
