<%- include ("./particals/Headers") %>
<div class="form-container">
    <h1>Register</h1>
    <form>
        <input type="text" class="input-field" placeholder="Full Name" name="fullname" required>
        <input type="email" class="input-field" placeholder="Email" name="email" required>
        
        <!-- Password input with toggle visibility -->
        <div class="password-container">
            <input type="password" class="input-field" placeholder="Password" name="password" required id="password">
            <i class="fas fa-eye" id="toggle-password"></i>
        </div>
        
        <button type="submit" class="submit-btn">Sign Up</button>
    </form>
    <p class="switch-link">Already have an account? <a href="/login">Login</a></p>
</div>

<!-- Footer -->
<%- include ("./particals/Footer") %>


<!-- JavaScript to toggle password visibility -->
<script>
    const togglePassword = document.getElementById('toggle-password');
    const passwordField = document.getElementById('password');

    togglePassword.addEventListener('click', function() {
        const type = passwordField.type === 'password' ? 'text' : 'password';
        passwordField.type = type;

        this.classList.toggle('fa-eye-slash');
    });
</script>
</body>
</html>
